<div class="decor-grid" aria-hidden="true">
  @if (aura()) {
    <div class="decor-aura"></div>
  }
  <img class="decor-asset decor-sopa" ngSrc="imagenes/tumbito/sopa.webp" width="1218" height="1158" alt="" />
  <img class="decor-asset decor-cafe" ngSrc="imagenes/tumbito/cafe.webp" width="1139" height="1113" alt="" />
  <img class="decor-asset decor-pizza" ngSrc="imagenes/tumbito/pizza.webp" width="1137" height="1076" alt="" />
  <img class="decor-asset decor-fideos" ngSrc="imagenes/tumbito/fideos.webp" width="1119" height="1061" alt="" />
  <img class="decor-asset decor-carne" ngSrc="imagenes/tumbito/carne.webp" width="1353" height="948" alt="" />
  <img class="decor-asset decor-ensalada" ngSrc="imagenes/tumbito/ensalada.webp" width="1276" height="1183" alt="" />
</div>
